@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body, html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: #ebeff3;
}

    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} 

    /* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  content: "Test TEXT"; 
  background: #b5d1e2;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
/* The popup form - hidden by default */
.task_form_popup {
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
/* Add styles to the form container */
.task_form-container {
  max-width: 500px;
  position: center;
  background-color: white;
}

/* Full-width input fields */
.task_form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
  .task_form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.task_form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.task_form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.task_form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.form-style-1 {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
  width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
  width: 100%;
}
.form-style-1 .field-textarea{
  height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  
  -webkit-box-shadow:none;
}
.form-style-1 .required{
  color:red;
}

.vis.timeline .item {
      border-color: #acacac;
      background-color: #efefef;
      box-shadow: 5px 5px 10px rgba(128,128,128, 0.3);
    }

    table .description {
      font-style: italic;
    }

    #visualization {
      position: relative;
      overflow: hidden;
    }

    .logo {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .logo img {
      width: 120px;
    }
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

.task_form{
  max-width: 450px;
  min-height: 1 00px;
  background: #FAFAFA;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 6px solid #305A72;
  z-index: 4;
}
.task_form ul{
  padding:0;
  margin:0;
  list-style:none;
}
.task_form ul li{
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.task_form ul li  .field-style{
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}.task_form ul li  .field-style:focus{
  box-shadow: 0 0 5px #B0CFE0;
  border:1px solid #B0CFE0;
}
.task_form ul li .field-split{
  width: 49%;
}
.task_form ul li .field-full{
  width: 100%;
}
.task_form ul li input.align-left{
  float:left;
}
.task_form ul li input.align-right{
  float:right;
}
.task_form ul li textarea{
  width: 100%;
  height: 100px;
}
.task_form ul li input[type="button"], 
.task_form ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}
.task_form ul li input[type="button"]:hover, 
.task_form ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}

.vis.timeline .item {
      border-color: #acacac;
      background-color: #efefef;
      box-shadow: 5px 5px 10px rgba(128,128,128, 0.3);
    }

    table .description {
      font-style: italic;
    }

    #visualization {
      position: relative;
      overflow: hidden;
    }

    .logo {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .logo img {
      width: 120px;
    }
    #tail {
    z-index: 10; 
    position: absolute;
    float: left;
}

    #testmove1{
    z-index: 12; 
    position: relative;
    float: left;    
    }
   .testmove {
      position: fixed;
      left:0;
      right:0;
      text-align:center; 
      /*border:1px solid #ff0000*/
    }

    .testmove a {
    display:block;
    float:left;
    width:10%;
}

.DailyPoolContainer{
  border-style: groove;
  position: absolute;
  /*padding-bottom: 100px;*/
}

#dp0class, #dp1class, #dp2class, #dp3class, #dp4class, #dp5class, #dp6class, #dp7class, #dp8class, #dp9class{

  cursor: pointer;
  z-index: 10; 
  position: absolute;
  padding-right: auto;
  /*float: top;*/
  /*display: none;*/
  /*border-style: groove;*/

}

#dp0, #dp1, #dp2, #dp3, #dp4, #dp5, #dp6, #dp7, #dp8, #dp9{

  top: 0;
  position: absolute;
  /*border-style: groove;*/

}

#dp0DP, #dp1DP, #dp2DP, #dp3DP, #dp4DP, #dp5DP, #dp6DP, #dp7DP, #dp8DP, #dp9DP{
  
  color: gray;
  font-style: italic;
  font-size: 0.8em;
  /*border-style: groove;*/

}

.low-risk{
    color: green;
}

.lessthan30{

    color: rgb(125, 66, 244);
    font-style: italic;

}

.high-risk{
    color: red;
    font-style: italic;
}
.noteID2{
  
}

p input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}

.DailyEstPopFrame {
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.DailyEstPop{
  display: none;
}
.DailyEstPop ul{
  padding:0;
  margin:0;
  list-style:none;
}
.DailyEstPop ul li{
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.DailyEstPop ul li  .field-style{
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 8px;
  outline: none;
  /* border: 1px solid #B0CFE0; */
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}.DailyEstPop ul li  .field-style:focus{
  box-shadow: 0 0 5px #B0CFE0;
  /* border:1px solid #B0CFE0; */
}
.DailyEstPop ul li .field-split{
  width: 49%;
}
.DailyEstPop ul li .field-full{
  width: 100%;
}
.DailyEstPop ul li input.align-left{
  float:left;
}
.DailyEstPop ul li input.align-right{
  float:right;
}
.DailyEstPop ul li textarea{
  width: 100%;
  height: 100px;
}
.DailyEstPop ul li input[type="button"], 
.DailyEstPop ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}
.DailyEstPop ul li input[type="button"]:hover, 
.DailyEstPop ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}

.DailyEstPop .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow 
.DailyEstPop .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.DailyEstPop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.selection{
  border: groove;
}
.full-spectrum .sp-palette {
max-width: 200px;
float: right;
}
.lighttext{
  color: white;
}
.darktext{
  color: black;
}
.prioritytext{
  position: absolute;
  right: 0;
  margin-top: -22px; 
  color: black;
  font-style: bold;
  font-size: 0.8em;
}
.DuplicateBtn{
  display: block;
  /*position: absolute;*/
  /*margin-top: 200%;*/
  bottom: 0;
}
.display{
  display: block;
}
.nodisplay{
  display: none;
}